body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0C67A0;
  }

  h2{
    font-family: sans-serif;
    font-weight: 700;
  }

  button {
    width: 100px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* button:hover{
    background-color: rgba(0, 128, 0, 0.74);
  } */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55vh;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45vh;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#inputs input{
    margin: 15px;
    padding: 20px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.371);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
